
body{

    font-family: 'Noto Sans JP', sans-serif;
    margin: 0px;
    
}
.hello{
    width: 38%;
    float: left;
    margin-top: 2%;
    margin-left: 5%; 
}
.highlight{
    color: coral;
}
.pic{
    width: 80%;
}
.text{
    margin-top: 8%;
}
.link{
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 15px;
    background-color: coral;
    padding: 10px 30px;
    border-radius: 5px; 
}
.work{
    background-image: url(images/chat-background.png);
}
