
   body{
    font-family: 'Roboto', sans-serif;
}

.topnav a{
    
    color: #ad0606ce;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
  }
#nav{
    height: 100px;
}
.hello1{
    width: 45%;
    margin-top: 2%;
    margin-left: 2%; 
    float: left;
    padding-bottom: 2%;
}
.highlight{
    color: coral;
}
.pic{
    width: 75%;
}
.pic1{
    width: 100%;
}
.text{
    margin-top: 8%; 
}
#text-work{
    text-align: center;
}
.link{
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 15px;
    background-color: coral;
    padding: 10px 30px;
    border-radius: 5px; 
}
.box{
    float: left;
    box-shadow: 1px 1px 10px gray;
    border-radius: 15px;
    width: 25%;
     margin: 3%;
     padding-right: 1%;
     padding-left: 1%;
    
}
.hellone{
    margin-top: 10%;
}
.hellone2{
    margin-bottom: 20%;

}
#text1{
    text-align: left;
}
#last{
    color: rgb(44, 62, 165);
    text-align: center;
}
.lastpi{
    width: 40%;
}
section{
    height: 500px;
}
.four{
    background-image: url("images/chat-background.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}
.four1{
    margin-left: 350px;
    float: left;
    margin-top: 5.7cm;
   
}
.four2{
    margin-top: 6.5cm;
    margin-right: 10cm;
    margin-left: 4cm;
}
.skill{
    height: 350px;
    background-color: rgb(12, 161, 211);
    border-radius: 35px;
    padding-top: 1%;
}
.three{
    background-color: rgba(192, 192, 192, 0.178);
    height: 600px;
}
.st{
    text-align: center;
}
.nd{
    text-align: center;
}
.rd{
    text-align: center;
}
.fr{
    text-align: center;
}
.ht{
    color: rgb(0, 25, 250);
}
.workin{
    color: rgb(250, 250, 250);
}